In [11]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
df = pd.read_excel('cohort.xlsx')
df.head(10)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
1,2,3,3120,2017-05-21,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
2,3,37,402,2017-10-16,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
3,4,88,3135,2017-08-31,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145
4,5,78,787,2017-10-01,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226
5,6,25,2339,2017-03-08,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031
6,7,22,1542,2017-04-21,True,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165
7,8,15,2459,2017-07-15,False,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915
8,9,67,1305,2017-08-10,False,Approved,Solex,Standard,medium,large,1071.23,380.74,33455
9,10,12,3262,2017-08-30,True,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19445 entries, 0 to 19444
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  int64
 1   product_id               19445 non-null  int64
 2   customer_id              19445 non-null  int64
 3   transaction_date         19445 non-null  datetime64[ns]
 4   online_order             19445 non-null  bool
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  float64
 11  standard_cost            19445 non-null  float64
 12  product_first_sold_date  19445 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 1.8+ MB

In [13]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of        transaction_id  product_id  customer_id transaction_date  online_order  \
0                   1           2         2950       2017-02-25         False
1                   2           3         3120       2017-05-21          True
2                   3          37          402       2017-10-16         False
3                   4          88         3135       2017-08-31         False
4                   5          78          787       2017-10-01          True
...               ...         ...          ...              ...           ...
19440           19996          51         1018       2017-06-24          True
19441           19997          41          127       2017-11-09          True
19442           19998          87         2284       2017-04-14          True
19443           19999           6         2764       2017-07-03         False
19444           20000          11         1144       2017-09-22          True

      order_status           brand product_line product_class product_size  \
0         Approved           Solex     Standard        medium       medium
1         Approved   Trek Bicycles     Standard        medium        large
2         Approved      OHM Cycles     Standard           low       medium
3         Approved  Norco Bicycles     Standard        medium       medium
4         Approved  Giant Bicycles     Standard        medium        large
...            ...             ...          ...           ...          ...
19440     Approved      OHM Cycles     Standard          high       medium
19441     Approved           Solex         Road        medium       medium
19442     Approved      OHM Cycles     Standard        medium       medium
19443     Approved      OHM Cycles     Standard          high       medium
19444     Approved   Trek Bicycles     Standard        medium        small

       list_price  standard_cost  product_first_sold_date
0           71.49          53.62                    41245
1         2091.47         388.92                    41701
2         1793.43         248.82                    36361
3         1198.46         381.10                    36145
4         1765.30         709.48                    42226
...           ...            ...                      ...
19440     2005.66        1203.40                    37823
19441      416.98         312.74                    35560
19442     1636.90          44.71                    40410
19443      227.88         136.73                    38216
19444     1775.81        1580.47                    36334

[19445 rows x 13 columns]>

In [14]:
df.count()

transaction_id             19445
product_id                 19445
customer_id                19445
transaction_date           19445
online_order               19445
order_status               19445
brand                      19445
product_line               19445
product_class              19445
product_size               19445
list_price                 19445
standard_cost              19445
product_first_sold_date    19445
dtype: int64

0

C:\Users\thanh\AppData\Local\Temp\ipykernel_1332\885964372.py:8: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df = df.fillna(df.mean())

0

C:\Users\thanh\AppData\Local\Temp\ipykernel_1332\885964372.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean())

In [17]:
df_dropna_all = df.dropna()
df_dropna_all.info()
df_dropna_all.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19445 entries, 0 to 19444
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  int64
 1   product_id               19445 non-null  int64
 2   customer_id              19445 non-null  int64
 3   transaction_date         19445 non-null  datetime64[ns]
 4   online_order             19445 non-null  bool
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  float64
 11  standard_cost            19445 non-null  float64
 12  product_first_sold_date  19445 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 1.8+ MB

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [18]:
df_clean = df_dropna_all[(df_dropna_all['order_status'] == "Approved")]
df_clean.count()

transaction_id             19273
product_id                 19273
customer_id                19273
transaction_date           19273
online_order               19273
order_status               19273
brand                      19273
product_line               19273
product_class              19273
product_size               19273
list_price                 19273
standard_cost              19273
product_first_sold_date    19273
dtype: int64

In [ ]:
def get_day(x): return dt.datetime(x.year, x.month, x.day) 

# Create InvoiceDay column
df_clean['InvoiceMonth'] = df_clean['transaction_date'].apply(get_day) 

# Group by CustomerID and select the InvoiceDay value
grouping = df_clean.groupby('customer_id')['transaction_date'] 

# Assign a minimum InvoiceDay value to the dataset
df_clean['CohortMonth'] = grouping.transform('min')

# View the top 5 rows
print(df_clean.head())

In [ ]:
#First, we will create 6 variables that capture the integer 
#value of years, months, and days for Transaction and Cohort Date using the get_date_int() function.
def get_date_int(df, column):
    year = df[column].dt.year
    month = df[column].dt.month
    day = df[column].dt.day
    return year, month, day

In [ ]:
# Get the integers for date parts from the InvoiceDaycolumn
invoice_year, invoice_month, invoice_day = get_date_int(df_clean, 'InvoiceDay')

# Get the integers for date parts from the CohortDay column
cohort_year, cohort_month, cohort_day = get_date_int(df_clean, 'CohortDay')

In [ ]:
# Calculate difference in years
years_diff = invoice_year - cohort_year

# Calculate difference in months
months_diff = invoice_month - cohort_month

# Calculate difference in days
days_diff = invoice_day - cohort_day

# Extract the difference in days from all previous values
df_clean['CohortIndex'] = years_diff * 365 + months_diff * 30 + days_diff + 1
print(df_clean.head())

In [ ]:
# Count the number of unique values per customer ID
# Counting daily active user from each chort
grouping_2 = df_clean.groupby('customer_id')
cohort_data = grouping_2['customer_id'].apply(pd.Series.nunique).reset_index()

# Create a pivot 
cohort_counts = cohort_data.pivot(index='CohortMonth', columns='CohortIndex', values='list_price')

# Select the first column and store it to cohort_sizes
cohort_sizes = cohort_counts.iloc[:,0]

# Divide the cohort count by cohort sizes along the rows
retention = cohort_counts.divide(cohort_sizes, axis=0)
cohort_data.head()